{% extends 'pages/article_layout.html' %}
{% block article %}
<h1 class="title is-1"> Advertising With Infinity Search </h1>
<hr/>

<h2>Supported Ad Types</h2>
The only type of ads that we display are text-only banners that show up in the top of our results pages.
Here is what they look like:
<br><br>
<img src="https://infinity-search.s3.amazonaws.com/public/ad_example.png">

<hr/>
<h2> Want To Advertise With Us?</h2>

You can get started by sending us an email at
<a href="mailto:advertising@infinitysearch.co">advertising@infinitysearch.co</a> and we can go from there.

<br><br>


{% endblock %}
