<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinity Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="search" type="application/opensearchdescription+xml" title="Infinity Search" href="https://infinitysearch.co/opensearch.xml">
    <link rel="stylesheet" id="bulma_light" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" id="bulma_dark" href="{{ url_for('static', filename='css/bulma_dark.css') }}">
    <script defer src="{{ url_for('static', filename='fa-all.js') }}"></script>
    <script src="/static/jquery-3.4.1.min.js"></script>
    <style>
        .Site {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        .Site-content {
            flex: 1;
        }
        .footer-settings {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: white
        }
    </style>
</head>
<body class="Site">
<div class="Site-content">

    <div style="text-align: right; padding-left: 20%; padding-right: 20%">
<!--    <div class="content column is-half is-offset-one-quarter" style="text-align: right">-->
        <div class="column" style="padding-bottom: 0">
            <button id="sun_button" class="button" onclick="switch_theme();"><i
                    class="fas fa-sun"></i>
            </button>
            <button id="moon_button" class="button" onclick="switch_theme();"><i class="fas fa-moon"></i>
            </button>

            {% if logged_in == False %}
                <a class="button" href="/login"> Login </a>
            {% elif account == True %}
                <a class="button" href="/logout"> Logout </a>
            {% else %}
                <a class="button" href="/account"> <i class="fas fa-user"></i> </a>
            {% endif %}


            {% if success == True %}
            <div class="column">
                <div class="notification is-success" id="exito" style="text-align: left">
                    <button class="delete" onclick="document.getElementById('exito').hidden=true;"></button>
                    {{msg}}
                </div>
            </div>
            {% endif %}
            {% if success == False %}
            <div class="column">
                <div class="notification is-danger" id="failure" style="text-align: left">
                    <button class="delete" onclick="document.getElementById('failure').hidden=true;"></button>
                    {{msg}}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div style="text-align: center; padding-bottom: 15px; margin-top: 5px;">
        <!--    <a href="/" style="display: inline-block"> <img style="vertical-align:middle; cursor: pointer; border-radius: 50%;" src="https://i.postimg.cc/Rhg9MPYN/Infinity-Search-Logo.png" width="75px" height="75px" alt=""></a>-->
        <a href="/" style="display: inline-block"> <img
                style="vertical-align:middle; cursor: pointer; border-radius: 50%;"
                src="https://infinity-search-saved-favicons.s3.amazonaws.com/InfinitySearch/logo.png" width="75px"
                height="75px" alt=""></a>

        <span class="rome" style="vertical-align:middle; font-size: 30px; padding-left: 20px;">  </span>
    </div>

    <div class="content" style="padding-left: 20%; padding-right: 20%">
        {% block article %}
        {% endblock %}
    </div>
</div>
<footer class="footer footer-settings">
    <div class="column is-half is-offset-one-quarter">
        <div class="columns is-vcentered">
            <a href="/about" class="column is-one-quarter">
                About
            </a>
            <a href="https://infinitysearch.blog" class="column is-one-quarter">
                Blog
            </a>
            <a href="/privacy" class="column is-one-quarter">
                Privacy
            </a>
            <a href="/contact" class="column is-one-quarter">
                Contact
            </a>
        </div>
    </div>
</footer>

<script>
    var dark = false;

    function enable_dark_mode() {
        dark = true;
        $('#sun_button').show();
        $('#moon_button').hide();
        $('link[href="/static/css/bulma_dark.css"]').prop('disabled', false);
    }

    function disable_dark_mode() {
        dark = false;
        $('#sun_button').hide();
        $('#moon_button').show();
        $('link[href="/static/css/bulma_dark.css"]').prop('disabled', true);
    }

    function switch_theme() {
        if (dark === true) {
            dark = false;
            document.cookie = "infinity_dark_mode=0";
            disable_dark_mode();
        } else {
            dark = true;
            document.cookie = "infinity_dark_mode=1";
            enable_dark_mode();
        }
    }

    disable_dark_mode();
    $(document).ready(function () {
        if (document.cookie.indexOf("infinity_dark_mode") === -1) {
            dark = false;
            disable_dark_mode();
            return
        }
        if (document.cookie.indexOf("infinity_dark_mode=0") > -1) { // If disabled
            dark = false;
            disable_dark_mode();
            return;
        }
        else if (document.cookie.indexOf("infinity_dark_mode=1") > -1) {
            dark = true;
            enable_dark_mode();
        }
    });
</script>
</body>
</html>
