{% extends 'pages/article_layout.html' %}
{% block article %}
<h1 class="title is-1"> Infinity Search Privacy Policy </h1>
<hr/>

<h2> Information Collected </h2>
For site metrics, we save the date that pages are viewed and HTTP referrers (without
the query strings). We obtain this information from our own open source analytics platform,
<a href="https://gitlab.com/infinitysearch/infinity-analytics">Infinity Analytics</a>,
so that we can still get site usage metrics while respecting the privacy of our users.
<br><br>
For users with accounts, we use cookies for verifying them so that they can have access to the
account features. The personal settings that the user chooses are also saved in our database.
Whenever the user deletes their account, all the information about them is
deleted right away.
<hr/>

<h2> Information Shared </h2>
Since we are using third-party APIs to gather the search results, those services can view the
searches that we make. They cannot see, however, who made the search because it
appears to them as our service making the search. This is the same way that
<a href="https://duckduckgo.com/"> DuckDuckGo</a> works as well. We do not sell or share any of the information
that we collect.

<br><br>
We are part of the <a href="https://www.ethicalads.io/">Ethical Ads </a> network and if an ad from them is displayed from them in our results pages, they can view
the browser type, the language preference, the referring site, and the date and time of the request. You can view their
full privacy policy <a href="https://www.ethicalads.io/privacy-policy/">here</a>.
<hr/>

<h2> More Information </h2>
To view a summary of what we mean by being a private search engine, please take a look at our <a href="https://infinitysearch.blog/our-privacy-summary/">privacy summary
blog post.</a>  This post also helps clarify any misconceptions or assumptions about how our service works.

<br><br>
{% endblock %}
