{% extends 'pages/article_layout.html' %}
{% block article %}
<h1 class="subtitle is-1"> Why Search With Us? </h1>
<hr/>

<h3 style="cursor:pointer;" onclick="toggle_element('integrated_results', 'integrated_results_icon')"> Several integrated results (with more coming) <a><i id="integrated_results_icon" class="fas fa-angle-down"></i></a>
</h3>
<div id="integrated_results" hidden>
    Here are some examples of instant results that we have already integrated into Infinity Search:

    <ul>
        <li>
            <a href="/results?q=wikipedia">Instant Extracts from Wikipedia</a>
        </li>
        <li>
            <a href="/results?q=AAPL stock">TradingView Stock Charts</a>
        </li>
        <li>
            <a href="/results?q=4/2">Calculator</a>
        </li>
        <li>
            <a href="/results?q=define life">Dictionary Definitions</a>
        </li>
        <li>
            <a href="/results?q=html">HTML editor</a>
        </li>
    </ul>
</div>

<hr/>
<h3 style="cursor: pointer" onclick="toggle_element('privacy', 'privacy_icon')"> Search with privacy <a><i id="privacy_icon" class="fas fa-angle-down"></i></a></h3>
<div id="privacy" hidden>
    Our service does not invade the privacy of our users. You can read more about this in our <a href="/privacy">
    privacy policy</a>. The important part is that we do not store any identifiable information about our users.
</div>

<hr/>
<h3 style="cursor:pointer;" onclick="toggle_element('index', 'index_icon')"> We have our own search indexes <a><i id="index_icon" class="fas fa-angle-down"></i></a> </h3>
<div id="index" hidden>
    While we retrieve results from other search engines like Bing and Wikipedia, we also have our own indexes of links
    that are displayed in our search results. We are actively working on improving these indexes and they will only get
    better.
</div>

<hr/>

<h3 style="cursor:pointer;" onclick="toggle_element('open_source', 'open_source_icon')"> We're open source <a><i id="open_source_icon" class="fas fa-angle-down"></i></a> </h3>
<div id="open_source" hidden>
    The whole Infinity Search system is open source and the code can be found at <a
        href="https://gitlab.com/infinitysearch">https://gitlab.com/infinitysearch</a>.
    We have also created other projects on here that anyone can use for other purposes such as our <a href="https://gitlab.com/infinitysearch/infinity-analytics">analytics system</a> and
    <a href="https://gitlab.com/infinitysearch/inquisite">text analyzer</a>.
</div>

<hr/>


<h3 style="cursor:pointer;" onclick="toggle_element('dark', 'dark_icon')"> We have dark mode <a><i id="dark_icon" class="fas fa-angle-down"></i></a> </h3>
<div id="dark" hidden>
    In the top right corner of most pages, there is a button to toggle dark mode. They will be integrated into all our
    pages in our next update.
</div>

<hr/>

<h3 style="cursor:pointer;" onclick="toggle_element('bangs', 'bangs_icon')"> We have bangs! <a><i id="bangs_icon" class="fas fa-angle-down"></i></a> </h3>
<div id="bangs" hidden>
    Bangs are a quick way for you to redirect your search to another site directly from our service. <br><br>

    If you have ever used <a href="https://duckduckgo.com">DuckDuckGo</a> before, we integrated the same bang feature as them so that you can redirect your searches
    to other websites directly from our site. Here is an example: searching for "<a href="https://infinitysearch.co/results?q=!w hello world">!w hello world</a>".
    Right now, we have the same ones as DuckDuckGo so you can use the same ones found at <a href=https://duckduckgo.com/bang">https://duckduckgo.com/bang</a> for now.
</div>

<hr/>

<h3 style="cursor:pointer;" onclick="toggle_element('pro', 'pro_icon')"> Infinity Search Pro (includes a free tier) <a><i id="pro_icon" class="fas fa-angle-down"></i></a> </h3>
<div id="pro" hidden>
    Our pro accounts get access to Infinity Bookmarks and Infinity Proxy, and get early access to our new indexes and
    features. If you are interested in Infinity Search Pro, you can learn more about it at <a href="/pro">https://infinitysearch.co/pro</a>.
</div>

<hr/>

<h3 style="cursor:pointer;" onclick="toggle_element('feedback', 'feedback_icon')"> We're focused on improving our service <a><i id="feedback_icon" class="fas fa-angle-down"></i></a> </h3>

<div id="feedback" hidden>
    We love to hear feedback from our users so that we can improve and update our site. Anyone can give us feedback,
    even without
    an email, at <a href="/feedback">https://infinitysearch.co/feedback</a>.
</div>

<br>

<script>

    function toggle_element(element_id, icon_id) {
        if ($('#' + element_id).is(':hidden')) {
            $('#' + element_id).show();
            $('#' + element_id).show();
            $('#' + icon_id).removeClass('fa-angle-down').addClass('fas fa-angle-up')
        } else {
            $('#' + element_id).hide();
            $('#' + icon_id).removeClass('fa-angle-up').addClass('fas fa-angle-down')
        }
    }

</script>

{% endblock %}
