<!DOCTYPE html>
<html lang="en">
{% include 'results/results_top.html' %}
<body>

<!--The input boxes  -->
{% include 'results/results_input.html' %}
        <div class="columns">
            <div class="column is-9" id="results">

                <div class="column" id="loading_bar">
                    <div class="card">
                        <div class="card-content">
                            <div class="content">

                                <noscript>You will need to enable JavaScript to view the results. If you do not, the
                                    loading bar below will keep staying that way.

                                </noscript>

                                <a href="" class="toplink"> <span> <b>Retrieving your results</b></span> </a>
                                <br>
                                <br>
                                <progress class="progress is-large is-info" max="100">60%</progress>

                            </div>
                        </div>
                    </div>
                </div>

                {% include 'results/results_integrations.html' %}

                <div class="column" style="padding-bottom: 0; margin-bottom: 0;">
                    <div data-ea-publisher="infinitysearch" data-ea-type="text" id="ethical_ad"></div>
                </div>

            </div>
    <div class="column is-3">
        <div id="externals">
            <!--The sidebar external results  -->
            {% include 'results/results_external.html' %}
        </div>
    </div>
</div>
<!-- The footer and scripts  -->
{% include 'results/results_bottom.html' %}


<script>
    var dark = false;

    function enable_dark_mode() {
        dark = true;
        $('#sun_button').show();
        $('#moon_button').hide();
        $('.ea-content').css('background-color', 'black');
        $('link[href="/static/css/bulma_dark.css"]').prop('disabled', false);
    }

    function disable_dark_mode() {
        dark = false;
        $('#sun_button').hide();
        $('#moon_button').show();
        $('.ea-content').css('background-color', 'white');

        $('link[href="/static/css/bulma_dark.css"]').prop('disabled', true);
    }

    function switch_theme() {
        if (dark === true) {
            dark = false;
            document.cookie = "infinity_dark_mode=0";
            disable_dark_mode();
        } else {
            dark = true;
            document.cookie = "infinity_dark_mode=1";
            enable_dark_mode();
        }
    }

    disable_dark_mode();
    $(document).ready(function () {
        if (document.cookie.indexOf("infinity_dark_mode") === -1) {
            dark = false;
            disable_dark_mode();
            return;
        }
        if (document.cookie.indexOf("infinity_dark_mode=0") > -1) { // If disabled
            dark = false;
            disable_dark_mode();
            return;
        }
        else if (document.cookie.indexOf("infinity_dark_mode=1") > -1) {
            dark = true;
            enable_dark_mode();
            return;
        }
    });

    function hide_externals() {
        let isMobile = window.matchMedia("only screen and (max-width: 760px)").matches;
        if (isMobile) {
            document.getElementById('externals').style.display = 'none';
        }

    }
    hide_externals();
    $('#web_editor').hide();

    $('#ethical_ad').hide();

    $.ajax({
        type: 'POST',
        url: '{{url}}',
        data: {
            'Search': '{{query}}',
            'page_number' : '{{page_number}}',
        },
        success: function (msg) {
            document.getElementById('loading_bar').remove();
            $('#ethical_ad').show();

            if (dark === true) {
                $('.ea-content').css('background-color', 'black');
            }
            else {
                $('.ea-content').css('background-color', 'white');
            }
            document.getElementById('results').innerHTML += msg;
            document.getElementById('externals').style.display = 'block';

            $('#web_editor').show();

            {% if current == 'web' %}
            if (document.getElementById('ethical_ad').innerHTML === '') {
                document.getElementById('ethical_ad').innerHTML = '<div data-ea-publisher="infinitysearch" data-ea-type="text" id="ethical_ad" style="font-size: 14px;font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;font-weight: normal;font-style: normal;leter-spacing: 0px;vertical-align: baseline;line-height: 1.3em;" class="loaded"><div class="ea-placement ea-type-text" style="font-size: 14px;font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-weight: normal; font-style: normal;line-height: 1.3em;"><div class="ea-content" style="background-color: white !important; text-align: left;border: 1px;border-radius: 3px;box-shadow: 1px 2px 3px rgba(0,0,0,0.15);margin: 1em 1em 0.5em 1em; padding: 1em; background-color: rgba(0, 0, 0, 0.03); color: #505050;font-size: 14px;font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-weight: normal; font-style: normal; line-height: 1.3em;">             <div class="ea-text" style="text-align: left;color: #505050;font-size: 14px;font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-weight: normal; font-style: normal; line-height: 1.3em;"><a href="{{top_ad[2]}}" rel="nofollow" target="_blank" style="color: #505050;text-decoration: none;text-align: left;font-size: 14px;font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-weight: normal; font-style: normal; line-height: 1.3em;"><strong style="color: #088cdb;text-align: left;font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-weight: normal; font-style: normal; line-height: 1.3em;">{{top_ad[0]}}:</strong> {{top_ad[1]}}</a></div>         </div>         <div class="ea-callout" style="margin: 0.5em 1em 1em 1em; padding-left: 1em; padding-right: 1em; text-align: right; font-style: italic;font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; font-weight: normal; font-style: normal; line-height: 1.3em;"><a target="_blank" href="https://infinitysearch.co/advertising">Ad by Infinity Search</a></div>     </div> </div>'
            }
            {% endif %}

            $('.ea-callout').css('margin-bottom', '0');
            $('.ea-callout').css('padding-bottom', '0');
        }
    });

</script>


</body>
</html>
