
{% if current == 'images' %}
    <div class="columns is-multiline">
    <div class="column">
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        Our image displays are currently disabled.
                        For now, please use our sidebar to find what you are searching
                        for.
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% for link in image_results %}

    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <a href="{{link.img_src}}"> <img src="{{ link.thumbnail_src }}"> </a>
                    <br>
                    <span style="font-size: 20px;">Source: <a href="{{ link.url }}"> {{ link.url }}</a> </span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
{% endif %}

