<head>
    <meta charset="UTF-8">
    <title>Infinity Results - {{query}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="search" type="application/opensearchdescription+xml" title="Infinity Search" href="https://infinitysearch.co/opensearch.xml">

    <style>
        a.toplink {
            color: black;
        }
    </style>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" id="bulma_dark" href="{{ url_for('static', filename='css/bulma_dark.css') }}">

    <script src="/static/jquery-3.4.1.min.js"></script>
    {% if current == 'web' or current == 'news' %}
        <script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
    {% endif %}
    <script defer src="{{ url_for('static', filename='fa-all.js') }}"></script>
    <script src="{{ url_for('static', filename='Sortable.min.js') }}"></script>
    <style>
        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }


        a.toplink:hover {
            text-decoration: underline;
        }

        .ia_image {
            width: 100%;
            max-width: 200px;

            height: 100%;
            max-height: 200px;
        }
        .card {
            word-break: break-word;
        }

        .search-button-icon {
            color: rgb(219, 219, 219)
        }

        .search-button-icon:hover {
            color: rgb(74, 74, 74);
        }

        .icon-spacing {
            margin-right: 3px;
        }
        @media screen and (max-width: 768px) {
            .dashboard-right-desktop, .icon-spacing {
                display: none;
            }
        }

        .toplink {
            color: black;
        }


        #style-1::-webkit-scrollbar
        {
            all: unset;
            width: 8px;
        }

        #style-1::-webkit-scrollbar-thumb
        {
            background-color: #C1C1C1;
            border-radius: 4px;

        }

        #style-1:hover::-webkit-scrollbar-thumb {
            background-color: #7D7D7D;
        }
    </style>

</head>
