{% if current == 'infinity' %}

    {% for info in instant_extracts %}
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <div class="columns">
                            <div class="column">
                                <a href="{{info.page_url}}" class="toplink"> <span style="color: black; font-size: 20px;"> <b>{{info.title}}</b> </span> </a>
                                <br style="display: block; content: ''; margin-top: 10px;">

                                <a href="{{info.page_url}}"> <img src={{ info.thumbnail_url }}> </a>
                            </div>
                            <div class="column">
                                <div style="color: black;"> <b> {{ info.description }} </b></div>
                                <br style="display: block; content: ''; margin-top: 10px;">

                                <div style="color: black">{{ info.extract }}</div>
                                <br style="display: block; content: ''; margin-top: 10px;">

                                <a href="{{info.page_url}}"><img onerror="imgError(this)" src="https://infinity-search-saved-favicons.s3.amazonaws.com/external_link_favicons/wikipedia.ico" height="16px" width="16px" style="padding-right: 5px;">{{info.page_url}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    These results are from our very first web index. It is in a very early stage of development
                    and we are currently working on improving and expanding it.
                </div>
            </div>
        </div>
    </div>

    {% for link in infinity_results %}
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <a href="{{link[0]}}" class="toplink"> <span style="color: black"> <b>{{link[1]}}</b> </span> </a>
                            <br>
                            <a href="{{link[0]}}">{{link[0]}} </a>
                            <br>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
{% endif %}
