{% if current == 'jobs' %}
<!--    <div class="column">-->
<!--        <div class="card">-->
<!--            <div class="card-content">-->
<!--                <div class="content">-->
<!--                    <div style="text-align: center">-->
<!--&lt;!&ndash;                    Hiring remotely?<a href="https://www.amazon.com/s?k={{query}}&tag=infinitysea0b-20" class="toplink"> <span style="color: black"> <b> Post a job for $3 </b> </span> </a>&ndash;&gt;-->
<!--                        <button class="button is-primary"> Hiring remotely? &nbsp; <b> Post a job for $5 </b> </button>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<div class="column">
<div class="card">
    <div class="card-content">
        <div class="content">
            <div class="columns">
                <div class="column">
                    <div style="text-align: center">
                        <a href="/jobs" class="button is-info"> Just Looking? &nbsp; <b> View all jobs </b>
                        </a>
                    </div>
                </div>
                <div class="column">
                    <div style="text-align: center">
                        <a href="/add_job" class="button is-primary"> Hiring remotely? &nbsp; <b> Post a job for $10 </b>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    {% if job_results|length == 0 %}
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        We couldn't find any results for this search.
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% macro linebreaks_for_string( the_string ) -%}
        {% if the_string %}
            {% for line in the_string.split('\n') %}
                <br />
                {{ line }}
            {% endfor %}
        {% else %}
        {{ the_string }}
        {% endif %}
    {%- endmacro %}

    {% for job in job_results %}
        <div class="column">
            <div class="card">
                <div class="card-content" id="card_preview">
                    <div class="content">
                        <div class="columns">
                            <div class="column is-3">
                            <span onclick="show_more('{{loop.index}}')" style="cursor: pointer"> <b> Position: <span
                                    id="preview_position"> {{job.position}} </span> </b> <br> </span>
                                <span onclick="show_more('{{loop.index}}')" style="cursor: pointer">Company: <span
                                        id="preview_company"> </span> {{job.company}} </span>&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://infinitysearch.co/results?q={{job.company}}" id="company_search_link">
                                Search about this company </a> <br>
                                <div id="card_description{{loop.index}}" hidden>
                                    <hr/>
                                    <div>
                                        <b> Job Description: </b>
<!--                                        <br>-->
<!--                                        <div id="preview_description">-->
<!--                                            {{job.job_description}} -->
                                            {{ linebreaks_for_string( job.job_description ) }}

<!--                                        </div>-->
                                    </div>
                                    <div>
                                        <b> Job Requirements: </b>
<!--                                        <br>-->
<!--                                        <div id="preview_requirements">-->
<!--                                            {{job.job_requirements}}-->
                                            {{ linebreaks_for_string( job.job_requirements ) }}
<!--                                        </div>-->
                                    </div>
                                    <div>
                                        <b> Location Restrictions: </b>
                                        <br>
                                        <span id="preview_location"> {{job.location_restriction}} </span>
                                    </div>
                                    <div>
                                        <b> Salary: </b>
                                        <br>
                                        <span id="preview_salary"></span>
                                    </div>
                                    <hr/>
                                </div>
                            </div>
                            <div class="column is-1">
                                <div class="content"> <b> Posted on: </b> {{job.date_string}} </div>
                            </div>
                            <div class="column is-4">
                            </div>
                            <div class="column is-1">
                                <a class="button is-info" onclick="show_more('{{loop.index}}')"> Show More </a>
                            </div>
                            <div class="column is-1">
                            </div>
                            <div class="column is-1">
                                <a href="{{job.apply_url}}" target="_blank" id="apply_button" class="button is-danger"
                                   onclick="click_apply_link()"> Apply</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endfor %}




    <script>
    function show_more(job_index) {

        if (document.getElementById('card_description' + String(job_index)).style.display === 'block') {
            document.getElementById('card_description' + String(job_index)).style.display = 'none';
        } else {
            document.getElementById('card_description' + String(job_index)).style.display = 'block';
        }
    }

    </script>

{% endif %}
