<!--<div class="columns" style="padding: 0; margin: 0;">-->
<!--    <div class="column is-half">-->
<!--        <a href="/" style="display: inline-block">-->
<!--            <img style="vertical-align:middle; cursor: pointer; border-radius: 50%;"-->
<!--                 src="https://infinity-search-saved-favicons.s3.amazonaws.com/InfinitySearch/logo.png"-->
<!--                 width="50px" height="50px" alt="">-->
<!--            <span style="vertical-align:middle; font-size: 18px; color: hsl(0, 0%, 29%)"> &nbsp INFINITY SEARCH </span>-->
<!--        </a>-->

<!--    </div>-->
<!--    <div class="column" style="text-align: right">-->
<!--        <a class="button" href="/account"> Account </a>-->
<!--    </div>-->
<!--</div>-->

<div style="padding-top: 12px;"></div>
<div class="column" style="padding-bottom: 0;">
    <div class="columns">
        <div class="column is-9">
                {% if current == 'web' %}
                <form action="/results" method="post" id="input_form" autocomplete="off">
                    {% else %}
                    <form action="/results/{{current}}" method="post" id="input_form" autocomplete="off">
                        {% endif %}
                        <div style="padding-right: 2.5%;">
                            <a href="/">
                                <img src="https://infinity-search.s3.amazonaws.com/public/logo.png" style="display: inline; float: left;" width="48px" height="48px">
                            </a>
                            <div class="field has-addons">
                                <div class="control has-icons-left is-expanded" style="margin-left: 12px;">
                            <input class="input is-medium" type="search" placeholder="" value="{{query}}" name="Search" required>
                            <span class="icon is-medium is-left"><i class="fa fa-search"></i></span>
                            </div>
                                <div class="control">
                                    <button class="button input is-medium search-button-icon"><i
                                            class="fas fa-arrow-right"></i></button>
                                </div>

                            </div>

                        </div>
                    </form>
        </div>
        <div class="column is-3 dashboard-right-desktop" style="text-align: right">
            <button id="sun_button" class="button" onclick="switch_theme();"><i
                    class="fas fa-sun"></i>
            </button>
            <button id="moon_button" class="button" onclick="switch_theme();"><i class="fas fa-moon"></i>
            </button>
            <a class="button" href="/default"><i class="fab fa-firefox icon-spacing"></i> <i class="fab fa-chrome icon-spacing"></i> <i class="fab fa-opera icon-spacing"></i><i class="fas fa-plus"></i></a>
            <a class="button" href="/account"> <i class="fas fa-user"></i> </a>
        </div>
    </div>
</div>

<div class="column" style="padding-top: 0; padding-bottom: 0;">
    <div class="tabs">
        <ul>
            {% if current == 'web' %}
                <li class="is-active"><a href="/results?q={{query}}">Web</a></li>
            {% else %}
                <li><a href="/results?q={{query}}">Web</a></li>
            {% endif %}
            {% if current == 'images' %}
                <li class="is-active"><a href="/results/images?q={{query}}">Images</a></li>
            {% else %}
                <li><a href="/results/images?q={{query}}">Images</a></li>
            {% endif %}
            {% if current == 'videos' %}
                <li class="is-active"><a href="/results/videos?q={{query}}">Videos</a></li>
            {% else %}
                <li><a href="/results/videos?q={{query}}">Videos</a></li>
            {% endif %}
<!--            {% if current == 'shopping' %}-->
<!--                <li class="is-active"><a href="/results/shopping?q={{query}}">Shopping</a></li>-->
<!--            {% else %}-->
<!--                <li><a href="/results/shopping?q={{query}}">Shopping</a></li>-->
<!--            {% endif %}-->

<!--            {% if current == 'infinity' %}-->
<!--                <li class="is-active"><a href="/results/infinity?q={{query}}">Infinity (Beta)</a></li>-->
<!--            {% else %}-->
<!--                <li><a href="/results/infinity?q={{query}}">Infinity (Beta)</a></li>-->
<!--            {% endif %}-->

            {% if current == 'news' %}
                <li class="is-active"><a href="/results/news?q={{query}}">News</a></li>
            {% else %}
                <li><a href="/results/news?q={{query}}">News</a></li>
            {% endif %}

        </ul>
    </div>
</div>

