{% extends 'languages/german/article_layout_german.html' %}
{% block article %}
<h1> Über Infinity Search </h1>
<hr/>
<h2> Was Wir Tun </h2>
Infinity Search ist eine Suchmaschine für eure Privatsphäre. Die Suchmaschine wurde entwickelt, um alle mit
einem breiteren Verständnis des Internets zu verbinden. Wir haben unseren Service so gestaltet, dass die
Menschen effizienter und effektiver sein können, wenn sie diese Suchmaschine nutzen. Wir können dies
realisieren, indem Sie schnellere und relevantere Ergebnisse bereitgestellt bekommen. Gleichzeitig können
Sie nach den gleichen Ergebnissen suchen, wie bei anderen Internet Ressourcen, wenn unsere Ergebnisse nicht
ausreichen sollten.

<hr/>

<h2> Warum Wir Infinity-Search gemacht haben </h2>
Wir haben Infinity Search entwickelt, damit Ihr das Internet auf einen effizienteren, effektiveren und
angenehmeren Weg nutzen könnt. Sollten sie was mit dem gänigen Suchmaschinen nicht finden können, so ist
unsere regel das sie auch aufgeben können. Es gibt jedoch mehrere andere Suchmaschinen und Online-Ressourcen
mit ihren eigenen Algorithmen und Ergebnissen, die wahrscheinlich die Ergebnisse haben, die sie Suchen.
Viele Menschen sind sich dieser Seiten nicht bewusst und es wäre unbequem für sie, mehrere Suchmaschinen zu
nutzen. Wir haben diesen Service gemacht, um dieses Problem zu lösen.

Der zweite Grund für diesen Dienst
ist, dass die Leute eine Suchmaschine nutzen können die ihre <a href="/privacy/de"> privatsphäre</a>
schützt. Ihr habt ein Recht auf
eure Privatsphäre und viele der aktuelle Suchmaschinen tun alles, um ihre Nutzer zu verfolgen und zu
identifizieren. Wir wollten eine Suche entwickeln, die es euch ermöglicht diese sorgenfrei zu nutzen. Unser
Service verwendet keine Cookies (und wird es auch nie tun).

<hr/>
<h2> Wie Wir Diesen Service Am Laufen Halten </h2>

Unser Service wird durch nicht nachverfolgbare Werbung und Affiliate-Links finanziert. Dies bedeutet, dass wir selbst
mit Werbung niemals einen Anreiz erhalten, unsere Benutzer zu verfolgen oder zu identifizieren.
<br>

{% endblock %}
