{% extends 'languages/german/article_layout_german.html' %}
{% block article %}
<h1> Infinity Search-Datenschutzrichtlinie </h1>
<hr/>

<h2> Gesammelte Informationen </h2>
Die einzigen Metriken, die wir über die Besucher unserer Website speichern, sind die angezeigten Seiten und
HTTP-Verweise. Wir haben unsere eigene Open-Source-Analyseplattform <a href="https://gitlab.com/infinitysearch/infinity-analytics">Infinity Analytics</a> entwickelt, damit wir weiterhin
Metriken zur Nutzung der Website erhalten und dabei die Privatsphäre unserer Benutzer respektieren können.
<hr/>

<h2> Nicht erfasste Informationen </h2>

Wir erheben oder protokollieren keine Daten über die einzelnen Nutzer, die auf diese Website zugreifen. Das bedeutet, dass wir
IP-Adressen oder Benutzer-Agent-Zeichenfolgen protokollieren. Wir verwenden auch überhaupt keine Cookies, was eine der
gemeinsame Wege, dass andere Websites versuchen, Sie online zu verfolgen, auch nachdem Sie ihre Website verlassen haben.

<hr/>

<h2> Geteilte Informationen </h2>

Da wir APIs von Drittanbietern verwenden, um die Suchergebnisse zu sammeln, können diese Dienste die
Suchen, die wir machen. Sie können jedoch nicht sehen, wer die Suche durchgeführt hat, weil
erscheint ihnen als unser Service, der die Suche macht. So funktioniert
<a href="https://duckduckgo.com/"> DuckDuckGo</a> genauso gut.

<hr/>

<h2> Wie wir Ihre Privatsphäre schätzen </h2>

Wir schätzen Ihre Privatsphäre hier, indem wir uns einfach nie von der beschriebenen Datenschutzerklärung abwenden.
Oben. Unser Modell wurde entwickelt, um die Privatsphäre aller unserer Nutzer zu respektieren.
{% endblock %}
