<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinity Search - Home</title>
    <meta name="description" content="Search with privacy and efficiency.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .Site {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        .Site-content {
            flex: 1;
        }
    </style>

</head>

<body class="Site">
<div class="Site-content">
<div style="margin-top: 11%"></div>

<div style="text-align: center;">
    <a href="/es" style="display: inline-block;">
        <img src="https://infinity-search-saved-favicons.s3.amazonaws.com/InfinitySearch/home_logo.png" height="100px" width="400px">
    </a>
    <br>
</div>

<div class="content column is-half is-offset-one-quarter" style="margin-top: 30px">
    <div class="control has-icons-left">
        <form action="/results" method="post" id="input_form">
            <input class="input is-medium" type="search" placeholder="Search for anything on the web" name="Search">
            <span class="icon is-medium is-left" style="cursor: pointer">
                      <i class="fa fa-search"></i>
            </span>
        </form>
    </div>
</div>

<div class="column is-half is-offset-one-quarter">
    <div class="tabs is-centered">
        <ul>
            <li class="is-active search_tab" onclick="switch_tab(this, '')"><a>Web</a></li>
            <li class="search_tab" onclick="switch_tab(this, '/images')"><a>Imágenes</a></li>
            <li class="search_tab" onclick="switch_tab(this, '/videos')"><a>Videos</a></li>
            <li class="search_tab" onclick="switch_tab(this, '/news')"><a>Noticias</a></li>
        </ul>
    </div>
</div>

<div class="column is-half is-offset-one-quarter">
    <div class="content is-medium">
        Busque con privacidad y eficiencia. <a href="/about/es"> Obtenga más información sobre Infinity Search </a>
        <br><br>
    <div class="notification is-info" id="info">
        <button class="delete" onclick="document.getElementById('info').hidden = true;"></button>
        Actualmente solo tenemos resultados de búsqueda en inglés, ya que todavía estamos desarrollando muchas funciones nuevas y no hay tiempo
         tuvo que traducir esto.
    </div>

    </div>
</div>
</div>

<footer class="footer" style="text-align: center; padding-top: 10px; padding-bottom: 10px; background-color: white">
    <div class="column is-half is-offset-one-quarter">
    <div class="columns is-vcentered">
        <a href="/about/es" class="column is-one-quarter">
            Acerca De
        </a>
        <a href="/blog" class="column is-one-quarter">
            Blog (En Ingles)
        </a>
        <a href="/privacy/es" class="column is-one-quarter">
            Política De Privacidad
        </a>
        <a href="/contact/es" class="column is-one-quarter">
            Contacto
        </a>
    </div>
    </div>
</footer>

<script>
    function reset_selected_tab() {
        var tabs = document.getElementsByClassName("search_tab");
        var i;
        for (i = 0; i < tabs.length; i++) {
            var tab = tabs[i];
            if (tab.classList.contains('is-active')) {
                tab.classList.remove('is-active');
            }
        }
    }

    function switch_tab(list_element, value) {
        reset_selected_tab();
        document.getElementById('input_form').setAttribute('action', '/results' + value);
        list_element.classList.add('is-active');
    }
</script>

</body>
</html>
